<!-- <div class="row" style="background: #00a642"> -->
  <!-- <div class="my-auto"> -->
    <!-- </div> -->
<!-- </div> -->

<div style="height: 55%" class="row bg-success">
  <div  class="pl-4 col-sm-10 mx-auto my-auto">
    <div class="row">
      <h1 class="display-4 font-weight-bold text-white col-sm-12">
        Stefan Hengl
    </h1>
      <h3 class="font-weight-light text-white col-sm-12">Software Engineer</h3>
      <div class="col-sm-12 pt-3">
        {% include social.html %}
      </div>
    </div>
 </div>
</div>
