<div class="p-3">
  <div>
    <div id="buttongroup" class="row justify-content-center">
      <div class="col-auto">
        <button data-toggle="modal" data-target="#contact" type="button" class="btn btn-primary">
          Get in touch
        </button>
        </div>
        <div class="col-auto">
          <a href="assets/pdf/stefanhengl.pdf" target="_blank">
            <button type="button" class="btn btn-link">Download Resume</button>
          </a>
          </div>


      </div>
  </div>
</div>
